<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarthak's Unit Conversion</title>
</head>
<body>
    <h1>DevOps Project</h1>
    <h2>Sarthak's Unit Conversion</h2>
    <form action="/convert" method="post">
        <label for="input_value">Input Value:</label><br>
        <input type="text" id="input_value" name="input_value"><br>
        <label for="input_unit">Input Unit:</label><br>
        <input type="text" id="input_unit" name="input_unit"><br>
        <label for="target_unit">Target Unit:</label><br>
        <input type="text" id="target_unit" name="target_unit"><br>
        <label for="student_response">Student Response:</label><br>
        <input type="text" id="student_response" name="student_response"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>